<select (change)="changeLanguage($event)">
  <option value="es-ES">Cambiar de idioma</option>
  <option value="es-ES">Español</option>
  <option value="en">Ingles</option>
  
</select>

<select (change)="changeRegion($event)">
  <option value="es-ES">Cambiar de Region</option>
  <option value="es-ES">Español España</option>
  <option value="es-MX">Español México</option>
  
</select>

<h1>{{'WELCOME' | translate }}</h1>
<h2>{{ 'PROJECT' | translate: param }}</h2>
<p>{{currentDate | date: 'fullDate':undefined: language }}</p>
Localización de Números:

<div>{{ sampleNumber | number :undefined: language  }}</div>

